name: release

on:
  push:
    branches: [ main, dev ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      UV_LINK_MODE: copy

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # important: avoir l'historique pour PSR

      - name: Configure git author
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          uv --version

      - name: Install Python with uv
        run: |
          uv python install 3.11
          uv run python -V

      - name: Show PSR version
        run: uv run semantic-release --version

      - name: Release (publish)
        run: uv run semantic-release -vv publish
